<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CSS techniques</title>
    <style>
        #container {
            height: 100%;
            display: grid;
            grid-template-rows: auto 1fr auto;
        }

        header {
            background-color: coral;
        }
        main {
            background-color: bisque;
        }
        footer {
            background-color: darkcyan;
        }
    </style>
</head>
<body>
    <div id="container">
        <ul>
            <li><a href="./pancake-stack.html">Pancake stack</a></li>
            <li><a href="./holy-grail.html">Holy grail</a></li>
            <li><a href="./12-span-grid.html">12 span grid</a></li>
            <li><a href="./ram.html">RAM</a></li>
            <li><a href="./image-ratio.html">Image ratio</a></li>
        </ul>
    </div>
</body>
</html>